clien/.DS_Store
client/node_modules/
client/dist/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

server/node_modules/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
